{% extends "base-side.twig" %}

{% block side %}
    <h2>Getting started</h2>
    <ul>
        <li><a href="{{ site.url }}/docs/requirements/">Requirements</a></li>
        <li><a href="{{ site.url }}/docs/download/">Download</a></li>
        <li><a href="{{ site.url }}/docs/install/">Install</a></li>
        <li><a href="{{ site.url }}/docs/basic-usage/">Basic usage</a></li>
    </ul>

    <h2>Public API</h2>
    <ul>
        <li><a href="{{ site.url }}/docs/api/netcarver/textile/parser/">Parser</a></li>
    </ul>
{% endblock %}
