{% extends "base.twig" %}
{% block header %}
    <div class="masthead">
        <h1><a title="{{ site.textile_slogan }}" href="{{ site.textile_url }}">Textile</a> markup language parser for PHP</h1>
        <div class="code">
            <p class="caption">Install PHP-Textile to your project using <a title="Composer package manager" href="http://getcomposer.org/">Composer</a></p>
            <pre><i class="fa fa-terminal"></i> <code>composer require netcarver/textile:{{ site.php_textile_version_minor }}.*</code></pre>
            <p class="notes">&hellip;or <a href="{{ site.github_url }}/releases"><i class="fa fa-cloud-download"></i> download</a> &mdash; <a href="{{ site.github_url }}/blob/master/CHANGELOG.textile">Changelog</a> &mdash; <a href="{{ site.url }}/docs/install/">What next?</a></p>
        </div>
    </div>
{% endblock %}
